.header{
    font-size: 50px;
    color: brown;
}
.logo img{
    height: 80px;
}
.main-manu{
    background: gray;
}
.main-manu img{
 width: 150px;
}
.main-manu .nav-Link{
    color: white !important;
}
.product{
    padding: 30px 0;
    border-bottom: 1px solid gray;
}
.product-saller{
    padding-top: 10px;
    padding-bottom: 20px;
}
.button{
    background: #f0c14b;
    padding: 0px 70px;
}
.cart{
    border-left: 2px solid gray;
}
.cart-head h3{
    font-weight: 700;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 15px;
}
.cart-total h6{
    font-size: 20px;
    font-weight: 700;
    border-top: 1px solid gray;
    margin-top: 10px;
    padding: 10px 0;
    
}